.CodeMirror {
  height: 340px !important;
  color: #fff;
}

.CodeMirror-gutters {
  background: #1d1e22 !important;
}

.CodeMirror-scroll {
  background: #1d1e22;
}
/* #main-footer {
  text-align: center;
  padding: 1rem;
  background: black;
  color: #fff;
  height: 10px; } */